* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Kanit', sans-serif;
    font-family: 'Public Sans', sans-serif;
}

.blue-text {
    color: #012762;
}

.blue-text h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 56px;
}

.blue-text h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
}